$primary-color: #444;
$secondary-color: rgba(3, 103, 234, 0.95);
$show-hero-image: true;
$hero-image: url(../img/background.jpg);

@mixin heroImg {
  @if $show-hero-image {
    &.bg-img {
      background: $hero-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}
