// Widescreens
@include mediaXl {
  #work {
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// Desktops & Laptops
@include mediaLg {
  #intro {
    .skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  #work {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
// Tablets & Small Laptops
@include mediaMd {
  #intro {
    .skills {
      grid-template-columns: repeat(1, 1fr);
      .col,
      .skill-header {
        align-items: center;
        margin: 0 auto;
      }
    }
  }
  #work {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
// Smartphones
@include mediaSm {
  #intro {
    .skills {
      grid-template-columns: 1fr;
    }
  }
  #work {
    .projects {
      grid-template-columns: 1fr;
    }
  }
}
