@import url("https://fonts.googleapis.com/css?family=Bad+Script");
// Navbar
.nav-bar {
  display: float;
  padding: 0.5rem 0 0 0;
  margin: auto;
  // position: fixed; /* Make it stick/fixed */
  // top: 0; /* Stay on top */
  // width: 100%; /* Full width */
  // transition: top 0.3s; /* Transition effect when sliding down (and up) */

  .nav-name {
    float: left;
    font-weight: 900;
    font-size: 1.8rem;
    color: #fff;
    margin-left: 3rem;
    font-family: "Bad Script", cursive;
    padding-top: 0;
    @include easeOut;
  }
  .nav-icons {
    padding-right: 5.8em;
    color: #fff;
  }
  .nav-icons > a {
    float: right;
    padding: 0.1rem 0.5rem;
    font-size: 1.2rem;
    margin-top: 0.9rem;
  }

  // Menu Button
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 55px;
    top: 28px;
    cursor: pointer;
    @include easeOut();

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
      transform: rotate(180deg);
      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          background: #fff !important;
        }
        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }
        //line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
          background: #fff !important;
        }
      }
    }
  }
}

.scrolledNavbar {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.6s all;
  height: 70px;
  color: #000;
}
