@import "config";
@import "menu";
@import "navBar";
@import "top";

* {
  box-sizing: border-box;
}

body {
  background: #f4f5f6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  background: linear-gradient(
      to right,
      rgba(40, 194, 255, 0.95),
      rgba(3, 103, 234, 0.949)
    ),
    url(../img/background.jpg) no-repeat top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

section {
  text-align: center;
  padding: 1rem 4rem;
}

span {
  color: rgba(3, 103, 234, 0.949);
}

#home {
  h1.title {
    font-size: 3.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 35vh;
    margin: 0;
  }

  .qoute {
    display: block;
    text-align: center;
    align-items: center;
    max-width: 410px;
    margin: auto;
  }

  .qoute-text {
    font-size: 1.8rem;
  }
  .author {
    display: block;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    color: #fff;
  }

  .next {
    position: absolute;
    bottom: 0px;
    left: 1%;
    right: 1%;
    z-index: 2;
  }
}

#intro {
  height: 100%;
  padding-top: 10vh;
  padding-bottom: 20vh;
  margin-bottom: 75px;
  .about-header {
    font-size: 3rem;
    padding-top: 10vh;
  }
  .about {
    font-size: 1.4rem;
    color: #666;
  }
  .skills-header {
    padding-top: 5rem;
    font-size: 3rem;
  }
  .skill-header {
    padding-top: 1rem;
    font-size: 2rem;
  }
  .skills {
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    .skill-header,
    .col {
      align-items: center;
      margin: 0 auto;
    }
    ul {
      list-style: none;
      text-align: left;

      li {
        padding-bottom: 0.2rem;
        font-size: 1.5rem;
      }
    }
  }
}

#work {
  height: 100%;
  padding-top: 20vh;
  padding-bottom: 30vh;
  background: #fff;
  .lg-heading {
    font-size: 3rem;
  }

  .projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
      width: 100%;

      &:hover {
        opacity: 0.5;
        @include easeOut;
      }
    }
    .btn-light,
    .btn-dark {
      color: black;
    }
    .btn-light {
      float: right;
      padding-right: 1.4rem;
    }
    .btn-dark {
      float: left;
      padding-left: 1.4rem;
    }
  }
}

#contact {
  height: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  h3 {
    padding-bottom: 5rem;
  }
  .contact-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #3d94f6),
      color-stop(1, #1e62d0)
    );
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color: #3d94f6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    &:hover {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #1e62d0),
        color-stop(1, #3d94f6)
      );
      background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
      background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
      background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
      background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
      background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
      background-color: #1e62d0;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 100px 30px 60px 30px;
  background-image: linear-gradient(
    to bottom,
    rgb(244, 245, 246),
    rgb(244, 245, 246),
    rgb(197, 220, 243),
    rgb(143, 178, 224),
    rgb(77, 142, 226),
    rgb(3, 103, 234)
  );
  color: #fff;
  height: 60px;

  .heart {
    color: rgb(175, 0, 0);
    font-size: 1.2rem;
  }

  .coffee {
    color: rgb(122, 61, 3);
    font-size: 1.2rem;
  }
}

canvas {
  position: absolute;
  vertical-align: bottom;
  top: 0;
}

#particles-js {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
}

@import "mobile";
